<div id="mainFull">
	<div class="block">
		<table>
		  <tr>
		    <th>Nome completo</th>
		    <th>Email</th>
		    <th>Status</th>
		    <th style="width: 15%; text-align: center">Acão</th>
		  </tr>
		
		<% @adm_usuarios.each do |adm_usuario| %>
		  <tr onclick="redirecionarURL('usuarios/<%= adm_usuario.id %>')">
		    <td><%= adm_usuario.nome_completo %></td>
		    <td><%= adm_usuario.email %></td>
		    <td><%= adm_usuario.status.descricao %></td>
		    <td style="text-align: center"><%= link_to 'Ver', adm_usuario %> |
		    <%= link_to 'Editar', edit_adm_usuario_path(adm_usuario) %> |
		    <%= link_to 'Apagar', delete_adm_usuario_path(adm_usuario)%></td>
		  </tr>
		<% end %>
		</table>
		<p>
			<% if @offset > 0%>
			  <%= link_to 'Anterior', '/adm/usuarios/pag/' + (@offset - 20).to_s %> | 
			  <%= link_to 'Próxima', '/adm/usuarios/pag/' + (@offset + 20).to_s %>
			<% else %>
			  <%= link_to 'Próxima', '/adm/usuarios/pag/20'%>
			<% end %>
		</p>
		<br />
	</div>
<!-- /main -->	
</div>